body,
html {
    height: 100%;
    margin: 0;
    background-color: #e9f5f7; /* Cor de fundo suave */
}

#background-form {
    background-color: #ffffff; /* Fundo branco */
    padding: 20px;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin-top: 1%; /* Ajuste conforme necessário */
    width: fit-content;
}

#form-body {
    margin-right: -70px;
}
