body,
html {
    height: 100%;
    margin: 0;
    background-color: #e9f5f7; /* Cor de fundo suave */
}

/* #background-form {
    align-items: center;
    border-radius: 8px;
    width: fit-content;
} */

.form-body {
    width: fit-content;
}
